**/**/**.bak
**/**/*.bak
*/**/*.bak
*/*.bak
*/.bak
*.bak
**/**/**.backup
**/.backup
*/.backup
*.backup
neomutt/.keys
dconf
zsh/.*
fish/fish_variables
fish/functions/_*
fish/functions/tide*
fish/functions/fisher*
spotify-tui/.spotify_token_cache.json
nvim
TabNine
gh/hosts.yml
