1Password/
BraveSoftware/
Code/
chromium/
dconf/
gh/
glib-2.0/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
gopass/
htop/
lazygit/
microsoft-edge-dev/
nvim/
op/
spotify-tui/
vivaldi-snapshot/
vivaldi/

