**/**/**.bak
**/**/*.bak
*/**/*.bak
*/*.bak
*/.bak
*.bak
**/**/**.backup
**/.backup
*/.backup
*.backup
neomutt/.keys
fish/fish_variables
fish/functions/_*
fish/functions/tide*
fish/functions/fisher*
spotify-tui/.spotify_token_cache.json
nvim
TabNine
fnm
gh/hosts.yml
zsh/firmware
zsh/.histfile
zsh/.zcompdump
