/* WAYBAR */
* {
  font-family: icomoon;
  font-size: 12px;
  margin: 0;
  padding: 0;
  min-height: 0;
  border-radius: 0px;
}

window#waybar {
  background-color: #faf4ed;
  border-bottom: 2px solid #2d81a3;
  /* border-bottom: 2px solid #ff5D62; */
  /* box-shadow: -4px 2px 2px #090618; */
}

#clock,
#bluetooth,
#battery,
#custom-pacman,
#custom-power,
#network,
#workspaces,
#tags,
#pulseaudio,
#custom-spacer,
#custom-left-cap,
#custom-right-cap {
  background-color: rgba(0, 0, 0, 0.0);
  color: #575279;
}

#custom-right-backed,
#custom-left-backed,
#custom-right-cap,
#custom-left-cap,
#custom-spacer {
  margin: 0;
  padding: 0;
  border: 2px solid #2d81a3;
  border-top: none;
}

#custom-right-backed,
#custom-left-backed,
#custom-mpd {
  background-color:#2d81a3;
  color: #faf4ed;
  font-family: Ubuntu Nerd Font;
  font-size: 12px;
  padding: 0px 10px;
  margin: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}

#custom-mpd {
  min-width: 300px;
}
#custom-right-backed,
#custom-left-backed {
  background-color: #faf4ed;
  color: #2d81a3;
  font-size: 16px;
  padding: 0;
}

#custom-left-backed {
  margin-right: 50px;
}
#clock {
  font-family: Ubuntu Nerd Font;
  font-size: 14px;
  font-weight: bold;
  color: #5f5695;
}

#tags button { 
  color: #9893a5;
  box-shadow: inset 0px -3px 2px -2px #9893a5;
  margin: 0px 1px;
  padding: 2px 7px;
  /* border-bottom: 1px solid #c34043; */
}

#tags button.occupied{
  color: #5ca7b4;
  box-shadow: inset 0px -3px 2px -1px #286983;
}

#tags button.focused {
  color: #575279;
  box-shadow: inset 0px -18px 12px -12px #286983;
  transition: box-shadow 0.4s, color 0.8s, border 1.0s;
}

/* #workspaces button {
   background-color: #475072;
   color: #c34043;
   border-bottom: 2px solid #727169;
   box-shadow: inset 0px -3px 2px -1px #6a9589;
   margin: 0 1px;
   padding: 0px 5px;
 }

 #workspaces button.persistent{ 
   color: #090618; 
   border-bottom: 2px solid #727169;
   box-shadow: inset 0px -3px 2px -2px #dcd7ba;
 }

 #workspaces button.focused {
   color: #c34043;
   border-bottom: 2px solid #7aa89f;
   box-shadow: inset 0px -18px 12px -12px #6a9589;
   transition: box-shadow 0.4s, color 0.8s, border 1.0s;
 } 
*/

#bluetooth,
#battery,
#custom-pacman,
#custom-power,
#network,
#pulseaudio {
  padding: 0 5px;
}

#custom-left-cap {
  border-right: none;
  border-top: none;
} 

#custom-right-cap {
  border-left: none;
  border-top: none;
}

@keyframes blink {
  to {
    color: #d7827e;
  }
}

#battery {
  color: #b4637a;
}

#battery.plugged,
#battery.full {
  color: #9a80b9;
}

#battery.charging,
#battery.plugged {
  color: #618774;
}

#battery.critical:not(.charging) {
  color: #eeeeee;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.extreme {
  color: #d7827e;
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 15;
  animation-direction: alternate;
}

#pulseaudio.good {
  color: #618774;
}

#pulseaudio.low {
  color: #629f81;
}

#pulseaudio.lowest,
#pulseaudio.muted {
  color: #9893a5;
}

#network.disconnected {
  color: #d7827e;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman {
  color: #ea9d34;
}

#custom-power {
  background-color: #e1dcd5;
  color: #b4637a;
  border: 2px solid #d7827e;
}
