/* WAYBAR */
* {
  font-family: feather, Terminus;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 0;
  border-radius: 0px;
}

window#waybar {
  background-color: #1f1f28;
  border-bottom: 2px solid #c34043;
  /* border-bottom: 2px solid #ff5D62; */
  box-shadow: 0px -4px 2px -2px #090618; */
}

#clock,
#bluetooth,
#battery,
#custom-pacman,
#custom-power,
#network,
#workspaces,
#pulseaudio,
#custom-spacer,
#custom-left-cap,
#custom-right-cap {
  background-color: rgba(0, 0, 0, 0.0);
  color: #dcd7ba;
}

#custom-right-cap,
#custom-left-cap,
#custom-spacer {
  padding: 0 3px;
}

#clock {
  font-size: 10px;
  font-weight: bolder;
  color: #c8c093;
}

#tags button { 
  color: #223249;
  border-bottom: 2px solid #c34043;
  box-shadow: inset 0px -3px 2px -2px #223249;
  margin: 0px 1px;
  padding: 0px 5px;
}

#tags button.occupied{
  color: #7E9CD8;
  border-bottom: 2px solid #c34043;
  box-shadow: inset 0px -3px 2px -1px #223249;
}

#tags button.focused {
  color: #7E9CD8;
  border-bottom: 2px solid #c34043;
  box-shadow: inset 0px -3px 2px -1px #E82424;
  /* box-shadow: inset 0px -18px 12px -12px #c34043; */
  transition: box-shadow 0.4s, color 0.8s, border 1.0s;
}

/* #workspaces button {
   background-color: #475072;
   color: #c34043;
   border-bottom: 2px solid #727169;
   box-shadow: inset 0px -3px 2px -1px #6a9589;
   margin: 0 1px;
   padding: 0px 5px;
 }

 #workspaces button.persistent{ 
   color: #090618; 
   border-bottom: 2px solid #727169;
   box-shadow: inset 0px -3px 2px -2px #dcd7ba;
 }

 #workspaces button.focused {
   color: #c34043;
   border-bottom: 2px solid #7aa89f;
   box-shadow: inset 0px -18px 12px -12px #6a9589;
   transition: box-shadow 0.4s, color 0.8s, border 1.0s;
 } 
*/

#bluetooth,
#battery,
#custom-pacman,
#custom-power,
#network,
#pulseaudio {
  padding: 0 5px;
}

/* #custom-left-cap {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-left: 1px;
} */

@keyframes blink {
  to {
    color: #c8c093;
  }
}

#battery {
  color: #e82424;
}

#battery.plugged,
#battery.full {
  color: #727169;
}

#battery.charging,
#battery.plugged {
  color: #6a9589;
}

#battery.critical:not(.charging) {
  color: #e82424;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
#pulseaudio.extreme {
  color: #e82424;
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 15;
  animation-direction: alternate;
}
*/

#pulseaudio.good {
  color: #c8c093;
}

#pulseaudio.low {
  color: #2d4f67;
}

#pulseaudio.lowest,
#pulseaudio.muted {
  color: #727169;
}

#network.disconnected {
  color: #e82424;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman {
  color: #c0a36e;
}

#custom-power {
  background-color: #090618;
  color: #c34043;
  border: 2px solid #c34043;
}
