/* WAYBAR */
* {
  font-family: 'Cartograph CF', icomoon;
  margin: 0;
  padding: 0;
  min-height: 0;
  border-radius: 0px;
  font-size: 14px;
}

window#waybar.bar {
  background-color: #2e3440;
  border-bottom: 2px solid #0087BD;
}

window#waybar.dock {
  background-color: rgba(0, 0, 0, 0.0);
}

#clock,
#bluetooth,
#battery,
#custom-pacman,
#custom-power,
#network,
#workspaces,
#tags,
#pulseaudio,
#custom-spacer,
#custom-left-cap,
#custom-right-cap {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.0);
  color: #d8dee9;
}


#custom-right-cap,
#custom-left-cap,
#custom-spacer {
  padding: 2px 3px;
}

#clock {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #81A1C1
}

#tags {
  box-shadow: inset 0px -8px 4px -8px #2e3440;
  padding: 0 10px;
}

#tags button { 
  background-color: #3B4252;
  border-radius: 8px;
  color: #eceff4;
  box-shadow: inset -1px 3px 2px -2px #eceff4;
  margin: 0px 3px 1px 3px;
  padding: 2px 10px 2px 10px;
}


#tags button.occupied{
  color: #0087BD;
  box-shadow: inset -1px 4px 2px -3px #81A1C1;
}

#tags button.focused {
  color: #d8dee9;
  box-shadow: inset -1px 18px 12px -12px #0087BD;
  transition: box-shadow 0.4s, color 0.8s;
}

  /*
#workspaces button {
  color: #0087BD;
  box-shadow: inset 0px -3px 2px -1px #0087BD;
   margin: 0 1px;
   padding: 0px 5px;
 }

 #workspaces button.persistent{ 
   color: #eceff4;
   box-shadow: inset 0px -3px 2px -2px ;
 }

 #workspaces button.focused {
  color: #d8dee9;
  box-shadow: inset 0px -18px 12px -12px #0087BD;
  transition: box-shadow 0.4s, color 0.8s, border 1.0s;
 } 
  */

#bluetooth,
#battery,
#custom-pacman,
#custom-power,
#network,
#pulseaudio {
  padding: 0 5px;
}

/* #custom-left-cap {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-left: 1px;
} */

@keyframes blink {
  to {
    color: #eceff4;
  }
}

#battery {
  color: #bf616a;
}

#battery.plugged,
#battery.full {
  color: #a3be8c;
}

#battery.charging,
#battery.plugged {
  color: #8fbcbb;
}

#battery.critical:not(.charging) {
  color: #bf615a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
#pulseaudio.extreme {
  color: #e82424;
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 15;
  animation-direction: alternate;
}
*/

#pulseaudio.good {
  color: #eceff4;
}

#pulseaudio.low {
  color: #4c566a;
}

#pulseaudio.lowest,
#pulseaudio.muted {
  color: #bf616a;
}

#network.disconnected {
  color: #bf616a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman {
  color: #ebcb8b;
}

#custom-power {
  background-color: #3b4252;
  color: #e5e9f0;
  border: 3px solid #bf616a;
}
