/*
alpha=0.95

urls=56b6c2
selection-foreground=1e1e1e     
selection-background=abb2bf
                
@background=1e1e1e
foreground=abb2bf
                                          
regular0=1e1e1e
regular1=e06c75
regular2=98c379
regular3=e5c07b
regular4=61afef
regular5=c678dd
regular6=56b6c2
regular7=abb2bf
                                 
bright00=5c6370
bright01=d19a66
bright02=56b6c2
bright03=e5c07b
bright04=61afef
bright05=c678dd
bright06=56b6c2
bright07=abb2bf 
*/

window {
  margin: 0;
	background-color: #1e1e1e;
	color: #abb2bf;
	font-family: "CozetteVector Nerd Font";
  font-size: 9pt;
  border-bottom: 3px solid #5c6370;
}

label {
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 3px solid rgba(0,0,0,0);
}

#left {
	margin-left: 25px;
}

#right {
	margin-right: 25px;
}
.ws {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

#ws-focused {
  color: #c678dd;
	background-color: #444444;
	border-bottom: 3px solid #c678dd;
}

#clock {
  color: #98c379;
	border-bottom: 3px solid #5c6370;
}

#cpu {
	border-bottom: 3px solid #56b6c2;
	margin-left: 0;
}

#memory {
	border-bottom: 3px solid #56b6c2;
	margin-left: 0;
}

#cput {
	color: #abb2bf;
	margin-right: 0;
	padding-right: 5px;
	border-bottom: 3px solid #56b6c2;
}

#memt {
	color: #abb2bf;
	margin-right: 0;
	padding-right: 5px;
	border-bottom: 3px solid #56b6c2;
}
