window {
    background-color: #101010;
    color: #EBEBEB;
    font-size: 12px;
    font-family: "ProFontIIx Nerd Font";
}

#entry:nth-child(odd) {
    background-color: #999999;
}

#entry:nth-child(even) {
    background-color: #101010;
}

#entry:selected {
    background-color: #c34043;
}

#input {
    background-color: #c34043;
    color: #101010;
    border-color: #EBEBEB;
}

#input:focus {
    border-color: #EBEBEB;
}
