window {
margin: 0px;
padding: 0px;
border: 2px solid #b7141f;
background-color: #232324;
font-size: 14px;
font-family: "PragmataPro";
}

#input {
margin: 5px;
border: none;
color: #e5e5e5;
background-color: #424242;
}

#inner-box {
margin: 5px;
background-color: #232322;
border-color: #b7141f;
}

#outer-box {
margin: 5px;
border: none;
background-color: #232322;
}

#scroll {
margin: 5px;
border: none;
}

#text {
border: none;
color: #e5e5e5;
} 

#entry:nth-child(odd) {
    background-color: #424242;
j}

#entry:nth-child(even) {
    background-color: #232324;
}

#entry:selected {
background-color: #b7141f;
}

#input:focus {
    border-color: #212121;
}
