window {
margin: 0px;
padding: 0px;
border: 2px solid #d8dee9;
background-color: #2e3440;
font-size: 12px;
font-family: "ProFontIIx Nerd Font";
}

#input {
margin: 5px;
border: none;
color: #2e3440;
background-color: #d8dee9;
}

#inner-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#scroll {
margin: 5px;
border: none;
}

#text {
border: none;
color: #4c566a;
} 

#entry:selected {
background-color: #88c0d0;
}
