window {
margin: 0px;
padding: 0px;
border: 2px solid #c34043;
background-color: #101010;
font-size: 12px;
font-family: 'ProFontIIx Nerd Font';
}

#input {
margin: 5px;
border: none;
color: #101010;
background-color: #c34043;
}

#inner-box {
margin: 5px;
border: none;
background-color: #101010;
}

#outer-box {
margin: 5px;
border: none;
background-color: #101010;
}

#scroll {
margin: 5px;
border: none;
}

#text {
border: none;
color: #EBEBEB;
} 

#entry:selected {
background-color: #c34043;
}
